<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Vue Todo</title>
    <style>
      .completed {
        text-decoration: line-through;
      }

      .selected {
        color: red;
      }
      .border {
        border: 1px solid red;
      }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  </head>
  <body>
    <div id="todo-app">
      <div>
        <input type="button" value="全部标为完成" @click="markAllCompleted" />
        <input
          type="text"
          placeholder="添加 todo 然後按enter"
          v-model="newTodoTitle"
          @keyup.enter="addTodo"
          :class="{border:isBorderShow}"
        />
      </div>
      <!-- todo list -->
      <ul>
        <li v-for="todo in sortTodo" :key="todo.id">
          <span
            :class="{completed:todo.isCompleted}"
            @dblclick="saveTempVal(todo)"
            v-show="!editedTodo"
            >{{todo.title}}</span
          >
          <input
            type="text"
            v-if="editedTodo && editedTodo.id === todo.id "
            v-model="todo.title"
            @keyup.enter="editDone(todo)"
            @keyup.esc="editCancel(todo)"
            v-focus
          />
          <input
            type="button"
            value="标为完成"
            @click="markAsCompleted(todo)"
            v-show="!todo.isCompleted"
          />
          <input
            type="button"
            value="标为未完成"
            @click="markAsIncompleted(todo)"
            v-show="todo.isCompleted"
          />
          <input type="button" value="删除" @click="removeTodo(todo)" />
        </li>
      </ul>
      <!-- end todo list -->
      <div v-if="todos.length>0 ? true : false">
        <span>剩余{{countLeft}}项未完成 ---</span>
        <span
          >筛选：
          <input
            type="button"
            :class="{selected: sortCatag==='all'}"
            value="全部"
            @click="sortCatag='all'"
          />
          <input
            type="button"
            value="进行中"
            :class="{selected: sortCatag==='inCompleted'}"
            @click="sortCatag='inCompleted'"
          />
          <input
            type="button"
            value="已完成"
            :class="{selected: sortCatag==='completed'}"
            @click="sortCatag='completed'"
          />
          <input type="button" value="清除已完成" @click="removeCompleted" />
          <input type="button" value="清除全部" @click="removeAll" />
          <p v-if="!countLeft">挖你通通都完成了，好認真！</p>
        </span>
      </div>
    </div>
    <script>
      let dataStorage = {
        fetch: function () {
          let result = JSON.parse(localStorage.getItem("myTodoApp") || "[]");
          // 這邊的思路是產生一個整個storage的id已經到哪，讓其後新增todo的時候要賦予的id有真實的依據，不然每次新增都從0開始，就會錯誤
          dataStorage.startId = result.length;
          return result;
        },
        save: function () {
          localStorage.setItem("myTodoApp", JSON.stringify(vm.todos));
        },
      };
      let vm = new Vue({
        el: "#todo-app",
        data: function () {
          return {
            id: 0,
            todos: dataStorage.fetch(),
            newTodoTitle: "",
            isBorderShow: false,
            editedTodo: null,
            sortCatag: "all",
            papa: this.haha,
          };
        },
        methods: {
          addTodo: function () {
            if (this.newTodoTitle === "") {
              this.isBorderShow = true;
              return;
            } else {
              this.todos.push({
                id: dataStorage.startId++,
                title: this.newTodoTitle,
                isCompleted: false,
              });
              this.newTodoTitle = "";
              this.isBorderShow = false;

            }
          },
          markAsCompleted: function (obj) {
            obj.isCompleted = true;
            dataStorage.save();
          },
          markAsIncompleted: function (obj) {
            obj.isCompleted = false;
            dataStorage.save();
          },
          removeTodo: function (todo) {
            let yes = confirm("你確定要刪除嗎？");
            if (yes) {
              this.todos.splice(this.todos.indexOf(todo), 1);
              // 刪除項目後，id就不正確了，所以我們要讓整個id依據正確的數量更新一次（類似刪除的操作都要這麼做）
              this.todos.map((todo, index) => {
                todo.id = index;
              });
              // 放到localstorage上

            }
          },
          saveTempVal: function (todo) {
            this.editedTodo = {
              id: dataStorage.startId,
              title: todo.title,
              isCompleted: todo.isCompleted,
            };
          },
          editDone: function (todo) {
            this.editedTodo = null;
          },
          editCancel: function (todo) {
            todo.title = this.editedTodo.title;
            this.editedTodo = null;
          },
          markAllCompleted: function () {
            this.todos.forEach((todo) => {
              todo.isCompleted = true;
            });
            dataStorage.save();
          },
          removeAll: function () {
            let yes = confirm("你真的要刪除所有的代辦事項嗎？");
            if (yes) {
              this.todos = [];
              dataStorage.startId = 0;

            }
          },
          removeCompleted: function () {
            this.todos = this.todos.filter(
              (todo) => todo.isCompleted === false
            );
            this.todos.map((todo, index) => {
              todo.id = index;
            });
            dataStorage.save();
          },
        },
        directives: {
          focus: {
            bind: function (el) {
              el.focus();
            },
          },
        },
        computed: {
          countLeft: function () {
            let tempArr = this.todos.filter(
              (todo) => todo.isCompleted === false
            );
            return tempArr.length;
          },
          sortTodo: function () {
            // 注意到像這邊處理的列表沒有真正的刪除掉todos，因為他只是篩選
            if (this.sortCatag === "all") {
              return this.todos;
            } else if (this.sortCatag === "inCompleted") {
              return this.todos.filter((todo) => todo.isCompleted === false);
            } else {
              return this.todos.filter((todo) => todo.isCompleted === true);
            }
          },
        },
        // 這可以拿來監控某資料是否有變動，一有變動就執行某操作，可以省下很多到處重寫的麻煩
        watch: {
          todos: function(){
            dataStorage.save();
          }
        }
      });
    </script>
  </body>
</html>
